@font-face { font-family: Alexandria-Black; src: url('assets/fonts/Alexandria/static/Alexandria-Black.ttf'); } 
@font-face { font-family: Alexandria-Bold; src: url('assets/fonts/Alexandria/static/Alexandria-Bold.ttf'); } 
@font-face { font-family: Alexandria-Regular; src: url('assets/fonts/Alexandria/static/Alexandria-Regular.ttf'); } 

/*
----
BODY
----
*/
body{
    background-color: #343434;
}

/* 
----------
LOGO STYLE
----------
*/
.logo-flex-col{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-img{
    height: 5rem;
    width: 5rem;
}
.logo-sub-text{
    color:#FFF;
    font-family: Alexandria-Black;
    text-shadow: .3rem .3rem 0 #000;
}
.logo-sub-text:hover{
    color:#F3AF56;
    text-decoration: none;
}
.logo-main-text{
    color: #FFF;
    font-family: Alexandria-Black;
    text-shadow: .3rem .3rem 0 #000;
}
.logo-main-text:hover{
    color: #FFF;
    text-decoration: none;
}
/*
----
BODY
----
*/
.drink-text{
    color:#FFF;
    font-family: Alexandria-Regular;
    text-shadow: .1rem .1rem 0 #000;
}
.drink-text-alt{
    color:#F3AF56;
    font-family: Alexandria-Regular;
    text-shadow: .1rem .1rem 0 #000;
}

.drink-cat-text{
    color:#00704A;
    font-family: Alexandria-Bold;
    text-shadow: .1rem .1rem 0 #000;
}
.drink-select-label{
    color: #FFF;
    font-family: Alexandria-Regular;
    text-shadow: .05rem .05rem 0 #000;
}

.reset-btn{
    background-color: #F3AF56;
    color: #FFF;
    font-size: 2rem;
    font-family: Alexandria-Black;
    text-shadow: .2rem .2rem 0 #000;
    border-radius: 1rem;
}
.reset-btn:hover,
.reset-btn:visited,
.reset-btn:focus{
    background-color: #FFF !important;
    color: #F3AF56 !important;
}

.reset-btn:active{
    background-color: #FFF !important;
    color: orange !important;
}

.info-header{
    color: #F3AF56;
    font-family: Alexandria-Black;
    text-shadow: .2rem .2rem 0 #000;
}

.info-body{
    color:#FFF;
    font-family: Alexandria-Regular;
    text-shadow: .1rem .1rem 0 #000;
}


/*
------
FOOTER
------
*/
.footer-rights{
    color: #FFF;
}